<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/resume1.css">
	<style>
		:root {
    --background: #c3c0ba;
    --white: #fff;
    --one: #c3266f;
    --two: #743578;
    --black: #54585d;
    --process: #a5a5a5;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    background: var(--background);
}

.col-div-3 {
    width: 25%;
    float: left;
}

.col-div-7 {
    width: 75%;
    float: left;
}

.col-div-4 {
    width: 35%;
    float: left;
}

.col-div-8 {
    width: 65%;
    float: left;
}

.col-div-6 {
    width: 50%;
    float: left;
    position: relative;
}

.clearfix {
    clear: both;
}

.resume-main {
    width: 700px;
    height: 800px;
    background: linear-gradient(var(--one), var(--two));
    margin: 50px auto;
    box-shadow: 5px 5px 5px 5px #54585d33;
}

.left-box {
    width: 35%;
    float: left;
    height: 700px;
}

.right-box {
    width: 65%;
    float: left;
    background-color: var(--white);
    height: 700px;
    margin: 50px 0px;
    border-radius: 50px 0px 0px 50px;
    padding: 30px 50px;
    box-shadow: -7px 2px 15px 2px #54585d52;
}

.profile {
    width: 150px;
    height: 150px;
    border: 3px solid var(--white);
    padding: 7px;
    border-radius: 50%;
    margin: 20px auto;
}

.profile img {
    width: 100%;
    border-radius: 50%;
}

.content-box {
    padding: 0px 40px 0px 45px;
}

.content-box h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--white);
    letter-spacing: 1px;
    font-size: 20px;
}

.hr1 {
    border: none;
    height: 1px;
    background: var(--white);
    margin-top: 3px;
}

.p1 {
    font-size: 11px;
    color: var(--white);
    letter-spacing: 1px;
    padding-top: 12px;
}

#progress {
    background: var(--process);
    border-radius: 13px;
    height: 8px;
    width: 100%;
}

#progress:after {
    content: '';
    display: block;
    background: var(--white);
    width: 50%;
    height: 100%;
    border-radius: 9px;
}

#progress1 {
    background: var(--process);
    border-radius: 13px;
    height: 8px;
    width: 100%;
}

#progress1:after {
    content: '';
    display: block;
    background: var(--white);
    width: 40%;
    height: 100%;
    border-radius: 9px;
}

.content-box h3 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 10px;
    color: white;
    font-weight: 500;
}

.p2 {
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: var(--white);
}

.circle {
    color: var(--white);
    font-size: 14px !important;
    margin-top: 7px;
}

.circle1 {
    color: var(--process);
    font-size: 14px !important;
    margin-top: 7px;
}

.in {
    background: var(--white);
    color: var(--one);
    padding: 8px;
    border-radius: 20px;
    font-size: 14px !important;
}

.inp {
    color: var(--white);
    font-size: 11px;
    {{!-- margin-right: 20px; --}}
}

#inp1 {
    padding-right: 20px;
    {{!-- display: inline-block; --}}
}

#inp2 {
    padding-left: 20px;
    {{!-- display: inline-block; --}}
}


.col3 {
    text-align: center;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: var(--black);
    line-height: 50px;
}

h1 span {
    color: var(--one);
}

.p3 {
    letter-spacing: 4px;
    color: #54585d;
    font-weight: 500;
}

.heading {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--one);
    letter-spacing: 1px;
    font-size: 20px;
}

.hr2 {
    border: none;
    height: 1px;
    background: var(--black);
    margin-top: 3px;
}

.p5 {
    font-weight: 700;
    color: var(--black);
}

.span1 {
    font-size: 12px;
    color: var(--black);
}
	</style>
</head>

<body>
	<!-- <form action="/generate-pdf" method="post"> -->

	<div class="resume-main">
		<div class="left-box">
			<br><br>
			<div class="profile">
				{{!-- <p>{{photoPath}}</p> --}}
				{{!-- <p>{{personalData.fileName}}</p> --}}
				{{#if personalData.fileName}}
				<img src="/{{ personalData.fileName }}" alt="Photo">
				{{!-- <img src="/spider.png" alt="phhhoto"> --}}
				{{/if}}
			</div>
			<div class="content-box">
				<h2>Profile Info</h2>
				<hr class="hr1">
				<p class="p1">{{personalData.person}}</p>

				<h3>Contact Details :</h3>
				<p class="p2">{{contactData.mobile}}</p>
				<div id="progress"></div>
				<p class="p2">{{contactData.email}}</p>
				<div id="progress1"></div>
				<p class="p2">{{contactData.address}}</p>
				<div id="progress1"></div>

				<br><br>
				<h2>My Skills</h2>
				<hr class="hr1">
				<br>
				<div class="col-div-6">
					{{!-- {{#each skillData}} --}}
					<p class="p2">{{skill1}}</p>
					{{!-- {{/each}} --}}

				</div>
				<div class="col-div-6">
					<i class="fa fa-circle circle"></i>
					<i class="fa fa-circle circle"></i>
					<i class="fa fa-circle circle"></i>
					<i class="fa fa-circle circle1"></i>
					{{!-- <i class="fa fa-circle circle1"></i> --}}
				</div>
				<div class="clearfix"></div>
				<div class="col-div-6">
					{{!-- {{#each skillData}} --}}
					<p class="p2">{{skill2}}</p>
					{{!-- {{/each}} --}}
				</div>
				<div class="col-div-6">
					<i class="fa fa-circle circle"></i>
					<i class="fa fa-circle circle"></i>
					<i class="fa fa-circle circle"></i>
					<i class="fa fa-circle circle"></i>
					{{!-- <i class="fa fa-circle circle1"></i> --}}
				</div>
				<div class="clearfix"></div>
				<div class="col-div-6">
					{{!-- {{#each skillData}} --}}
					<p class="p2">{{skill3}}</p>
					{{!-- {{/each}} --}}
				</div>
				<div class="col-div-6">
					<i class="fa fa-circle circle"></i>
					<i class="fa fa-circle circle"></i>
					<i class="fa fa-circle circle"></i>
					<i class="fa fa-circle circle1"></i>
					{{!-- <i class="fa fa-circle circle1"></i> --}}
				</div>
				<div class="clearfix"></div>
				<div class="col-div-6">
					{{!-- {{#each skillData}} --}}
					<p class="p2">{{skill4}}</p>
					{{!-- {{/each}} --}}
				</div>
				<div class="col-div-6">
					<i class="fa fa-circle circle"></i>
					<i class="fa fa-circle circle"></i>
					<i class="fa fa-circle circle1"></i>
					<i class="fa fa-circle circle1"></i>
					{{!-- <i class="fa fa-circle circle1"></i> --}}
				</div>

				<div class="clearfix"></div>
				<br>
				<h2>Interests</h2>
				<hr class="hr1">
				<br>
				<div class="col-div-3 col3">
					<i class="fa fa-futbol-o in"></i>
					{{!-- {{#each skillData}} --}}
					<span class="inp" id="inp1">{{hobby1}}</span>
				</div>
				<div class="col-div-3 col3">
					<i class="fa fa-futbol-o in"></i>
					<span class="inp" id="inp2">{{hobby2}}</span>
					{{!-- {{/each}} --}}
				</div>
				<div class="col-div-3 col3">
					&nbsp;<i class="fa fa-futbol-o in"></i>
					{{!-- {{#each skillData}} --}}
					&nbsp;&nbsp;<span class="inp">{{hobby3}}</span>
					{{!-- {{/each}} --}}
				</div>
				<div class="col-div-3 col3">
					&nbsp;<i class="fa fa-futbol-o in"></i>
					{{!-- {{#each skillData}} --}}
					&nbsp;&nbsp;&nbsp;&nbsp;<span class="inp">{{hobby4}}</span>
					{{!-- {{/each}} --}}
				</div>
			</div>
		</div>

		<div class="right-box">
			<h1>
				{{personalData.fname}}<br>
				<span>{{personalData.lname}}</span>
			</h1>
			<p class="p3">{{personalData.pname}}</p>

			<br>
			<h2 class="heading">Work Experience</h2>
			<hr class="hr2">
			<br>
			<div class="col-div-4">
				<p class="p5">{{experienceData.jdate}} - {{experienceData.edate}}</p>
				<span class="span1">{{experienceData.comp}}</span>
			</div>
			<div class="col-div-8">
				{{!-- <p class="p5">Web Designer</p> --}}
				<span class="span1">{{experienceData.disc}}
			</div>
			<br>
			<h2 class="heading">My Education</h2>
			<hr class="hr2">
			<br>
			<div class="col-div-4">
				<p class="p5">{{secondaryData.pyear}}</p>
				<span class="span1">Percentage : </span>
			</div>
			<div class="col-div-8">
				<p class="p5">{{secondaryData.sname}}</p>
				<span class="span1">{{secondaryData.percentage}}</span>
			</div>
			<div class="clearfix"></div>
			<br>
			<div class="col-div-4">
				<p class="p5">{{highSecondaryData.payear}}</p>
				<span class="span1">Stream : </span>
			</div>
			<div class="col-div-8">
				<p class="p5">{{highSecondaryData.iname}}</p>
				<span class="span1">{{highSecondaryData.Science}}</span>
			</div>

			<div class="col-div-4">
				<span class="span1">Percentage : </span>
			</div>
			<div class="col-div-8">
				<span class="span1">{{highSecondaryData.percentageb}}</span>
			</div>


			<div class="clearfix"></div>
			<br>
			<div class="col-div-4">
				<p class="p5">{{underGraduateData.syear}} - {{underGraduateData.eyear}} </p>
				<span class="span1">CGPA : </span>
			</div>
			<div class="col-div-8">
				<p class="p5">{{underGraduateData.cname}} </p>
				<span class="span1">{{underGraduateData.cgpa}} </span>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>

	</div>
	<form action="/generate-pdf" method="post" id="pdfForm">
		<input type="hidden" name="resumeContent" id="resumeContent" style="display: none;">
		<button type="submit">Generate PDF</button>
	</form>
	
	<script>
		function downloadPDF() {
			const htmlContent = document.documentElement.innerHTML;
			document.getElementById('htmlContent').value = htmlContent;
			document.getElementById('pdfForm').submit();
		}
		document.addEventListener('DOMContentLoaded', function () {
			// Get the entire HTML content of the page
			const htmlContent = document.documentElement.outerHTML;
			// Set the HTML content into the input field
			document.getElementById('resumeContent').value = htmlContent;
		});
	</script>
</body>

</html>